* {
    font-family: "bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    height: 10000px;
}

/*start fonts*/
.bebas{
    font-family: "bebas Neue", sans-serif;
}
.pacifico {
    font-family: "Pacifico", cursive;
}
.Epilogue {
    font-family: "epilogue", cursive;
}
/*end fonts*/

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.botton {
    display: inline-block;
    background: #A5141A;
    border-radius: 3px;
    padding: 10px 30px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/*start header*/
.header {
    background: red;
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-content {
    height: 100%;
    align-content: center;
}
.header-text-1 {
    color: #ffb91a;
    font-size: 30px;
}
.header-text-2 {
    color: white;
    font-size: 80px;
    line-height: 1.0;
    margin: 25px 0;
}
/*end header*/

/*start category*/
.categories-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}
.category-item {
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23%;
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 50px 0;
}
.category-item:hover {
    border-color: #ffb91a;
}
.category-item-img {
    height: 120px;
}
.category-item img {
    width: 100px;
}
.category-name {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
/*end category*/