* {
    font-family: "bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 10000px;
}

/*start fonts*/
.bebas{
    font-family: "bebas Neue", sans-serif;
}
.pacifico {
    font-family: "Pacifico", cursive;
}
.Epilogue {
    font-family: "epilogue", cursive;
}
/*end fonts*/

/*colors*/
.red {
    color: #A5141A !important;
}
.yellow {
    color: #FFC107 !important;
}
.white {
    color: white !important;
}
.black {
    color: black;
}

/*components*/
.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.botton {
    /*display: inline-block;*/
    background: #A5141A;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 10px 0px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.botton:hover {
    background: #ffb91a;
    transition-duration: 0.4s;
}

.normal-title{
    font-size: 45px;
    font-weight: 550;
    line-height: 1.0;
    width: 60%;
}
.normal-text {
    font-size: 15px;
    font-weight: 200;
    margin: 15px 0;
    line-height: 1.4;
    width: 70%;
    font-weight: 200;
}
.normal-price {
    font-size: 30px;
    display: block;
    margin-bottom: 40px;
}
.normal-heading {
    font-size: 28px;
    font-weight: 150;
    color: #A5141A;
    margin-bottom: 30px;
}

/*start navbar*/
.navbar {
    position: absolute;
    width: 100%;
}
.navbar-content {
    background: #A5141A;
    padding: 20px 20px;
    border-radius: 0 0 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.navbar-content a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 7px;
}
.navbar-content a:hover {
    color: #ffb91a;
}
.navbar-contact {
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.navbar-section-1 {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.navbar-brand {
    /*width: 15%;*/
    margin: 0 60px;
}
.brand {
    color: #ffb91a !important;
    font-size: 30px !important;
    display: flex;
    justify-content: center;
}
.navbar-section-2 {
    width: 20%;
    display: flex;
    justify-content: flex-start;
}
.pages {
    align-content: center;
}
.pages:hover ul{
    display: block;
}
.dropdown {
    display: none;
    list-style-type: none;
    width: 150px;
    background: #ffb91a;
    position: fixed;
    top: 65px;
    padding: 10px;
}
.dropdown-item {
    padding: 10px 0;
}
.dropdown-item a{
    color: black;
}
.dropdown-item:hover a{
    color: white;
}
.navbar-cart {
    width: 10%;
    display: flex;
    justify-content: end;
}
/*end navbar*/

/*start header*/
.header {
    background: red;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-content {
    height: 100%;
    align-content: center;
}
.larg-heading {
    color: #ffb91a;
    font-size: 30px;
    font-weight: 200;
}
.larg-title {
    color: white;
    font-size: 80px;
    line-height: 1.0;
    margin: 25px 0;
}
/*end header*/

/*start category*/
.categories-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}
.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23%;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 50px 0;
}
.category-item:hover {
    border-color: #ffb91a;
}
.category-item-img {
    height: 120px;
}
.category-item img {
    width: 100px;
}
.category-name {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
/*end category*/

/*start special*/
.special{
    background-image: url("../img/special-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 80px 0;
}
.special-content {
    display: flex;
    justify-content: space-between;
}
.special-content-column {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.special-item-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/special-01.jpg);
}
.special-item-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/special-02.jpg);
}
.special-item-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/special-03.jpg);
}
.special-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 130px 40px;
    color: white;
}

.special-card-mini {
    padding: 40px !important;
}
.special-card-mini span{
    margin-bottom: 0 !important;
}
/*end offer*/

/*start Concerning*/
.concerning-content {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}
.concerning-img {
    width: 60%
}
.concerning-img img{
    width: 85%;
}
.concerning-info {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 40%;
    margin: 0 40px;
}
/*end Concerning*/

/*start delivery*/
.delivery {
    background-image: url(../img/delivery.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 170px 0;
}
.delivery-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    text-align: center;
}
/*end delivery*/

/*star recommended*/
.recommended {
    background: #F8F8F8;
    padding: 80px 0;
}
.recommended-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.recommended-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recommended-item {
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 12px;
    width: 48%;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
    border: 1px solid transparent;
}
.recommended-item:hover {
    border: 1px solid #ffb91a;
}
.recommended-item-img {
    width: 50%;
    align-content: center;
    justify-content: center;
}
.recommended-item-img img {
    width: 90%;
    margin: 0 25px;
}
.recommended-item-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px;
}
.item-title {
    font-size: 25px;
}
.item-price {
    color: #A5141A;
    margin: 15px 0;
    font-size: 28px;
}
.item-text {
    color: gray;
    margin-bottom: 15px;
}
.item-botton {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
/*end recommended*/

/*satart feedback*/
.feedback {
    background-image: url("../img/special-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 80px 0;
}
.feedback-content {

}
.feedback-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.feedback-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feedback-card {
    background: white;
    border-radius: 10px;
    width: 49%;
    margin: 10px 0;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
    display: flex;
}
.feedback-card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.feedback-comment p {
    width: 90% !important;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}
.feedback-client {
    display: flex;
    align-items: center;
    align-content: center;
}
.client-name {
    color: #A5141A;
    font-size: 20px;
    margin: 0 20px;
}
.feedback-client img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/*end feedback*/